.item-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 4px 4px 9px rgb(104, 104, 104);
}

.item-name {
  font-family: "Great Vibes", cursive;
  font-size: 1.3rem;
}

.price {
  font-size: 15px;
}

.single-price {
  margin: 0;
  padding: 0;
}

.bio-pic {
  margin-bottom: 2.6rem;
  border-radius: 1.5rem;
}

.bio-section {
  font-family: 'Tangerine', cursive;
  font-size: 1.6rem;
  margin-bottom: 2.6rem;
}

.signature {
  font-family: "Great Vibes", cursive;
}

.category-title {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.necklace-title {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  margin: 1.5rem;
}
